@import "styles/custom";
@import "styles/variables";
@import "styles/user-dropdown";

* {
  box-sizing: border-box;
  font-family: Dosis, sans-serif;
}

html {
  width: 100%;
  background-color: $primary-600;
}

body {
  background-color: transparent;
}

