$primary-50: #DBF0F0;
$primary-100: #BBD6D2;
$primary-200: #96B8B5;
$primary-300: #729B98;
$primary-400: #578582;
$primary-500: #3B706E;
$primary-600: #31625F;
$primary-700: #234E4C;
$primary-800: #163C3A;
$primary-900: #062726;

$text-10: #1A1A1A;
$text-20: #333333;
$text-30: #4D4D4D;
$text-40: #666666;
$text-50: #808080;
$text-60: #999999;
$text-70: #B2B2B2;
$text-80: #CCCCCC;
$text-90: #E5E5E5;
