.form{
    background-color: #96B8B5;
    position: absolute;
    width: 700px;
    height: 550px;
    left: 363px;
    top: 150px;
}

.form-control{
    width: 613px; 
    height: 75px; 
    background: #729B98; 
    margin-bottom: 10px; 
    border-radius: 7px;
}