.contain{
    background-color: #96B8B5;
    position: absolute;
    width: 700px;
    height: 550px;
    left: 363px;
    top: 150px;
}

.form{
    position: absolute; 
    margin-top: 250px;
     margin-left: 45px
}